html, body {
  height: 100%;
  width: 100%;
  background-color: #464646;
  user-select: none;
  color: #c8c6c4;
}

.ChessBoardImg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ChessBoardContainer {
  position: relative;
  margin: auto;
}

.content {
  width: 100vw;
  height: 80vh;
}



/* Nav */
.nav {
  position: absolute;
  width: 100vw;
  height: 20vh;
  z-index: 2;
}

.play-nav {
  margin-top: 1%;
  margin-left: auto;
}

.rules-nav {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.strategies-nav {
  margin-top: 1%;
  margin-right: auto;
}



/* Content Child Grid Layout */
.content-child-grid {
  display: grid;
  grid-template-columns: repeat(8, 1/8);
  
  grid-template-areas:
    "a8 b8 c8 d8 e8 f8 g8 h8"
    "a7 b7 c7 d7 e7 f7 g7 h7"
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    "a2 b2 c2 d2 e2 f2 g2 h2"
    "a1 b1 c1 d1 e1 f1 g1 h1";
}

/* Black Pieces */
.a8 {
  grid-area: a8;
  z-index: 1;
}
.b8 {
  grid-area: b8;
  z-index: 1;
}
.c8 {
  grid-area: c8;
  z-index: 1;
}
.d8 {
  grid-area: d8;
  z-index: 1;
}
.e8 {
  grid-area: e8;
  z-index: 1;
}
.f8 {
  grid-area: f8;
  z-index: 1;
}
.g8 {
  grid-area: g8;
  z-index: 1;
}
.h8 {
  grid-area: h8;
  z-index: 1;
}

/* Black Pawns */
.a7 {
  grid-area: a7;
  z-index: 1;
}
.b7 {
  grid-area: b7;
  z-index: 1;
}
.c7 {
  grid-area: c7;
  z-index: 1;
}
.d7 {
  grid-area: d7;
  z-index: 1;
}
.e7 {
  grid-area: e7;
  z-index: 1;
}
.f7 {
  grid-area: f7;
  z-index: 1;
}
.g7 {
  grid-area: g7;
  z-index: 1;
}
.h7 {
  grid-area: h7;
  z-index: 1;
}

/* White Pieces */
.a1 {
  grid-area: a1;
  z-index: 1;
}
.b1 {
  grid-area: b1;
  z-index: 1;
}
.c1 {
  grid-area: c1;
  z-index: 1;
}
.d1 {
  grid-area: d1;
  z-index: 1;
}
.e1 {
  grid-area: e1;
  z-index: 1;
}
.f1 {
  grid-area: f1;
  z-index: 1;
}
.g1 {
  grid-area: g1;
  z-index: 1;
}
.h1 {
  grid-area: h1;
  z-index: 1;
}

/* White Pawns */
.a2 {
  grid-area: a2;
  z-index: 1;
}
.b2 {
  grid-area: b2;
  z-index: 1;
}
.c2 {
  grid-area: c2;
  z-index: 1;
}
.d2 {
  grid-area: d2;
  z-index: 1;
}
.e2 {
  grid-area: e2;
  z-index: 1;
}
.f2 {
  grid-area: f2;
  z-index: 1;
}
.g2 {
  grid-area: g2;
  z-index: 1;
}
.h2 {
  grid-area: h2;
  z-index: 1;
}