html, body {
  height: 100%;
  width: 100%;
  background-color: #464646;
  user-select: none;
  color: #c8c6c4;
}

div.chess-board{
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
}

div.ai-nav-text{
  visibility: collapse;
}
  
div.rules-nav-text{
  visibility: collapse;
}

div.strategy-nav-text{
  visibility: collapse;
}

/* ------------------------------------------1 */

/* Chess Board Adjustment */

@media (min-width:0px){
.image-transition {
  width: 80px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -23px;
  right: 55px;
  width: 20px;
  height: 20px;
}

div.rules-nav{
  position: absolute;
  bottom: -23px;
  right: 30px;
  width: 20px;
  height: 20px;
}

div.strategy-nav{
  position: absolute;
  bottom: -23px;
  right: 5px;
  width: 20px;
  height: 20px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 11%;
  right: 40px;
  width: 10px;
  height: 10px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 11%;
  right: 30px;
  width: 10px;
  height: 10px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 11%;
  right: 50px;
  width: 10px;
  height: 10px;
}

div.f1Bishop{
  position: absolute;
  bottom: 11%;
  right: 20px;
  width: 10px;
  height: 10px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 11%;
  right: 60px;
  width: 10px;
  height: 10px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 11%;
  right: 10px;
  width: 10px;
  height: 10px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 11%;
  right: 70px;
  width: 10px;
  height: 10px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 11%;
  right: -.5px;
  width: 10px;
  height: 10px;
}
  
/* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 70px;
  width: 10px;
  height: 10px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 60px;
  width: 10px;
  height: 10px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 50px;
  width: 10px;
  height: 10px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 40px;
  width: 10px;
  height: 10px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 30px;
  width: 10px;
  height: 10px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 20px;
  width: 10px;
  height: 10px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: 10px;
  width: 10px;
  height: 10px;
}
  
  div.h2Pawn{
  position: absolute;
  bottom: 23.7%;
  right: -.5px;
  width: 10px;
  height: 10px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: -11%;
  right: 40px;
  width: 10px;
  height: 10px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: -11%;
  right: 30px;
  width: 10px;
  height: 10px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: -11%;
  right: 50px;
  width: 10px;
  height: 10px;
}

div.f8Bishop{
  position: absolute;
  top: -11%;
  right: 20px;
  width: 10px;
  height: 10px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: -11%;
  right: 60px;
  width: 10px;
  height: 10px;
}
  
div.g8Knight{
  position: absolute;
  top: -11%;
  right: 9.5px;
  width: 10px;
  height: 10px;
}
  
  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: -11%;
  right: 70px;
  width: 10px;
  height: 10px;
}
  
div.h8Rook{
  position: absolute;
  top: -11%;
  right: -.5px;
  width: 10px;
  height: 10px;
}

/* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 1.5%;
  right: 70px;
  width: 10px;
  height: 10px;
}
  
div.b7Pawn{
  position: absolute;
  top: 1.5%;
  right: 60px;
  width: 10px;
  height: 10px;
}
  
div.c7Pawn{
  position: absolute;
  top: 1.5%;
  right: 50px;
  width: 10px;
  height: 10px;
}
  
div.d7Pawn{
  position: absolute;
  top: 1.5%;
  right: 40px;
  width: 10px;
  height: 10px;
}
  
div.e7Pawn{
  position: absolute;
  top: 1.5%;
  right: 30px;
  width: 10px;
  height: 10px;
}
  
div.f7Pawn{
  position: absolute;
  top: 1.5%;
  right: 20px;
  width: 10px;
  height: 10px;
}
  
div.g7Pawn{
  position: absolute;
  top: 1.5%;
  right: 9.5px;
  width: 10px;
  height: 10px;
}
  
  div.h7Pawn{
  position: absolute;
  top: 1.5%;
  right: -.5px;
  width: 10px;
  height: 10px;
}
  
}

/* ------------------------------------------2 */

@media (min-width:160px){
.image-transition {
  width: 130px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -42.5px;
  right: 89.375px;
  width: 32.5px;
  height: 32.5px;
}

div.rules-nav{
  position: absolute;
  bottom: -42.5px;
  right: 48.75px;
  width: 32.5px;
  height: 32.5px;
}

div.strategy-nav{
  position: absolute;
  bottom: -42.5px;
  right: 8.125px;
  width: 32.5px;
  height: 32.5px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 4.5%;
  right: 65px;
  width: 16px;
  height: 16px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 4.5%;
  right: 48.5px;
  width: 16px;
  height: 16px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 4.5%;
  right: 81px;
  width: 16px;
  height: 16px;
}

div.f1Bishop{
  position: absolute;
  bottom: 4.5%;
  right: 32px;
  width: 16px;
  height: 16px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 4.5%;
  right: 97.5px;
  width: 16px;
  height: 16px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 4.5%;
  right: 16px;
  width: 16px;
  height: 16px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 4.5%;
  right: 113.5px;
  width: 16px;
  height: 16px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 4.5%;
  right: -1px;
  width: 16px;
  height: 16px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 17%;
  right: 113.5px;
  width: 16px;
  height: 16px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 17%;
  right: 97.5px;
  width: 16px;
  height: 16px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 17%;
  right: 81px;
  width: 16px;
  height: 16px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 17%;
  right: 65px;
  width: 16px;
  height: 16px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 17%;
  right: 48.5px;
  width: 16px;
  height: 16px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 17%;
  right: 32px;
  width: 16px;
  height: 16px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 17%;
  right: 16px;
  width: 16px;
  height: 16px;
}
  
  div.h2Pawn{
  position: absolute;
  bottom: 17%;
  right: -1px;
  width: 16px;
  height: 16px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: -4.5%;
  right: 65px;
  width: 16px;
  height: 16px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: -4.5%;
  right: 48.5px;
  width: 16px;
  height: 16px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: -4.5%;
  right: 81px;
  width: 16px;
  height: 16px;
}

div.f8Bishop{
  position: absolute;
  top: -4.5%;
  right: 32px;
  width: 16px;
  height: 16px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: -4.5%;
  right: 97.5px;
  width: 16px;
  height: 16px;
}
  
div.g8Knight{
  position: absolute;
  top: -4.5%;
  right: 16px;
  width: 16px;
  height: 16px;
}
  
  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: -4.5%;
  right: 113.5px;
  width: 16px;
  height: 16px;
}
  
div.h8Rook{
  position: absolute;
  top: -4.5%;
  right: -1px;
  width: 16px;
  height: 16px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 8%;
  right: 113.5px;
  width: 16px;
  height: 16px;
}
  
div.b7Pawn{
  position: absolute;
  top: 8%;
  right: 97.5px;
  width: 16px;
  height: 16px;
}
  
div.c7Pawn{
  position: absolute;
  top: 8%;
  right: 81px;
  width: 16px;
  height: 16px;
}
  
div.d7Pawn{
  position: absolute;
  top: 8%;
  right: 65px;
  width: 16px;
  height: 16px;
}
  
div.e7Pawn{
  position: absolute;
  top: 8%;
  right: 48.5px;
  width: 16px;
  height: 16px;
}
  
div.f7Pawn{
  position: absolute;
  top: 8%;
  right: 32px;
  width: 16px;
  height: 16px;
}
  
div.g7Pawn{
  position: absolute;
  top: 8%;
  right: 16px;
  width: 16px;
  height: 16px;
}
  
  div.h7Pawn{
  position: absolute;
  top: 8%;
  right: -1px;
  width: 16px;
  height: 16px;
}
  
}

/* ------------------------------------------3 */

@media (min-width:210px){
.image-transition {
  width: 180px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -55px;
  right: 123.75px;
  width: 45px;
  height: 45px;
}

div.rules-nav{
  position: absolute;
  bottom: -55px;
  right: 67.5px;
  width: 45px;
  height: 45px;
}

div.strategy-nav{
  position: absolute;
  bottom: -55px;
  right: 11.25px;
  width: 45px;
  height: 45px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 1.5%;
  right: 90px;
  width: 22px;
  height: 22px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 1.5%;
  right: 67px;
  width: 22px;
  height: 22px;
}
 
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 1.5%;
  right: 112px;
  width: 22px;
  height: 22px;
}

div.f1Bishop{
  position: absolute;
  bottom: 1.5%;
  right: 45px;
  width: 22px;
  height: 22px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 1.5%;
  right: 135px;
  width: 22px;
  height: 22px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 1.5%;
  right: 22px;
  width: 22px;
  height: 22px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 1.5%;
  right: 157.5px;
  width: 22px;
  height: 22px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 1.5%;
  right: -1px;
  width: 22px;
  height: 22px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 14%;
  right: 157.5px;
  width: 22px;
  height: 22px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 14%;
  right: 135px;
  width: 22px;
  height: 22px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 14%;
  right: 112px;
  width: 22px;
  height: 22px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 14%;
  right: 90px;
  width: 22px;
  height: 22px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 14%;
  right: 67px;
  width: 22px;
  height: 22px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 14%;
  right: 45px;
  width: 22px;
  height: 22px;
}

div.g2Pawn{
  position: absolute;
  bottom: 14%;
  right: 22px;
  width: 22px;
  height: 22px;
}
  
  div.h2Pawn{
  position: absolute;
  bottom: 14%;
  right: -1px;
  width: 22px;
  height: 22px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: -1.5%;
  right: 90px;
  width: 22px;
  height: 22px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: -1.5%;
  right: 67px;
  width: 22px;
  height: 22px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: -1.5%;
  right: 112px;
  width: 22px;
  height: 22px;
}

div.f8Bishop{
  position: absolute;
  top: -1.5%;
  right: 45px;
  width: 22px;
  height: 22px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: -1.5%;
  right: 135px;
  width: 22px;
  height: 22px;
}
  
div.g8Knight{
  position: absolute;
  top: -1.5%;
  right: 22px;
  width: 22px;
  height: 22px;
}
  
  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: -1.5%;
  right: 157.5px;
  width: 22px;
  height: 22px;
}
  
div.h8Rook{
  position: absolute;
  top: -1.5%;
  right: -1px;
  width: 22px;
  height: 22px;
}
  
  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 11%;
  right: 157.5px;
  width: 22px;
  height: 22px;
}
  
div.b7Pawn{
  position: absolute;
  top: 11%;
  right: 135px;
  width: 22px;
  height: 22px;
}
  
div.c7Pawn{
  position: absolute;
  top: 11%;
  right: 112px;
  width: 22px;
  height: 22px;
}
  
div.d7Pawn{
  position: absolute;
  top: 11%;
  right: 90px;
  width: 22px;
  height: 22px;
}
  
div.e7Pawn{
  position: absolute;
  top: 11%;
  right: 67px;
  width: 22px;
  height: 22px;
}
  
div.f7Pawn{
  position: absolute;
  top: 11%;
  right: 45px;
  width: 22px;
  height: 22px;
}

div.g7Pawn{
  position: absolute;
  top: 11%;
  right: 22px;
  width: 22px;
  height: 22px;
}
  
  div.h7Pawn{
  position: absolute;
  top: 11%;
  right: -1px;
  width: 22px;
  height: 22px;
}

}

/* ------------------------------------------4 */

@media (min-width:260px){
.image-transition {
  width: 230px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -67.5px;
  right: 158.125px;
  width: 57.5px;
  height: 57.5px;
}

div.rules-nav{
  position: absolute;
  bottom: -67.5px;
  right: 86.25px;
  width: 57.5px;
  height: 57.5px;
}

div.strategy-nav{
  position: absolute;
  bottom: -67.5px;
  right: 14.375px;
  width: 57.5px;
  height: 57.5px;
}

  /* Chess Piece Locations */

    /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 115px;
  width: 28px;
  height: 28px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 86px;
  width: 28px;
  height: 28px;
}
 
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 143px;
  width: 28px;
  height: 28px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 57px;
  width: 28px;
  height: 28px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 172.5px;
  width: 28px;
  height: 28px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 28px;
  width: 28px;
  height: 28px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 201px;
  width: 28px;
  height: 28px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -1px;
  width: 28px;
  height: 28px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 201px;
  width: 28px;
  height: 28px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 172.5px;
  width: 28px;
  height: 28px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 143px;
  width: 28px;
  height: 28px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 115px;
  width: 28px;
  height: 28px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 86px;
  width: 28px;
  height: 28px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 57px;
  width: 28px;
  height: 28px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 28px;
  width: 28px;
  height: 28px;
}
  
  div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -1px;
  width: 28px;
  height: 28px;
}

    /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 115px;
  width: 28px;
  height: 28px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 86px;
  width: 28px;
  height: 28px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 143px;
  width: 28px;
  height: 28px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 57px;
  width: 28px;
  height: 28px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 172.5px;
  width: 28px;
  height: 28px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 28px;
  width: 28px;
  height: 28px;
}
  
  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 201px;
  width: 28px;
  height: 28px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -1px;
  width: 28px;
  height: 28px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 201px;
  width: 28px;
  height: 28px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 172.5px;
  width: 28px;
  height: 28px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 143px;
  width: 28px;
  height: 28px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 115px;
  width: 28px;
  height: 28px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 86px;
  width: 28px;
  height: 28px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 57px;
  width: 28px;
  height: 28px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 28px;
  width: 28px;
  height: 28px;
}
  
  div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -1px;
  width: 28px;
  height: 28px;
}
  
}

/* ------------------------------------------5 */

@media (min-width:315px){
.image-transition {
  width: 280px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -80px;
  right: 192.5px;
  width: 70px;
  height: 70px;
}

div.rules-nav{
  position: absolute;
  bottom: -80px;
  right: 105px;
  width: 70px;
  height: 70px;
}
  
div.strategy-nav{
  position: absolute;
  bottom: -80px;
  right: 17.5px;
  width: 70px;
  height: 70px;
}

  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 139px;
  width: 35px;
  height: 35px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 104px;
  width: 35px;
  height: 35px;
}
 
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 175px;
  width: 35px;
  height: 35px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 69px;
  width: 35px;
  height: 35px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 210px;
  width: 35px;
  height: 35px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 34px;
  width: 35px;
  height: 35px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 244px;
  width: 35px;
  height: 35px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -1px;
  width: 35px;
  height: 35px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 244px;
  width: 35px;
  height: 35px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 210px;
  width: 35px;
  height: 35px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 175px;
  width: 35px;
  height: 35px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 139px;
  width: 35px;
  height: 35px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 104px;
  width: 35px;
  height: 35px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 69px;
  width: 35px;
  height: 35px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 34px;
  width: 35px;
  height: 35px;
}
  
  div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -1px;
  width: 35px;
  height: 35px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 139px;
  width: 35px;
  height: 35px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 104px;
  width: 35px;
  height: 35px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 175px;
  width: 35px;
  height: 35px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 69px;
  width: 35px;
  height: 35px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 210px;
  width: 35px;
  height: 35px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 34px;
  width: 35px;
  height: 35px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 244px;
  width: 35px;
  height: 35px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -1px;
  width: 35px;
  height: 35px;
}

  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 244px;
  width: 35px;
  height: 35px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -1px;
  width: 35px;
  height: 35px;
}
  
  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 244px;
  width: 35px;
  height: 35px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 210px;
  width: 35px;
  height: 35px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 175px;
  width: 35px;
  height: 35px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 139px;
  width: 35px;
  height: 35px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 104px;
  width: 35px;
  height: 35px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 69px;
  width: 35px;
  height: 35px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 34px;
  width: 35px;
  height: 35px;
}
  
  div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -1px;
  width: 35px;
  height: 35px;
}
  
}

/* ------------------------------------------6 */

@media (min-width:365px){
.image-transition {
  width: 330px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -92.5px;
  right: 226.875px;
  width: 82.5px;
  height: 82.5px;
}

div.rules-nav{
  position: absolute;
  bottom: -92.5px;
  right: 123.75px;
  width: 82.5px;
  height: 82.5px;
}

div.strategy-nav{
  position: absolute;
  bottom: -92.5px;
  right: 20.625px;
  width: 82.5px;
  height: 82.5px;
}

  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 164px;
  width: 41px;
  height: 41px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 123px;
  width: 41px;
  height: 41px;
}
 
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 205px;
  width: 41px;
  height: 41px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 82px;
  width: 41px;
  height: 41px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 247px;
  width: 41px;
  height: 41px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 40px;
  width: 41px;
  height: 41px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 288px;
  width: 41px;
  height: 41px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -2px;
  width: 41px;
  height: 41px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 288px;
  width: 41px;
  height: 41px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 247px;
  width: 41px;
  height: 41px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 205px;
  width: 41px;
  height: 41px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 164px;
  width: 41px;
  height: 41px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 123px;
  width: 41px;
  height: 41px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 82px;
  width: 41px;
  height: 41px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 40px;
  width: 41px;
  height: 41px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -2px;
  width: 41px;
  height: 41px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 164px;
  width: 41px;
  height: 41px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 123px;
  width: 41px;
  height: 41px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 205px;
  width: 41px;
  height: 41px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 82px;
  width: 41px;
  height: 41px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 247px;
  width: 41px;
  height: 41px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 40px;
  width: 41px;
  height: 41px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 288px;
  width: 41px;
  height: 41px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -2px;
  width: 41px;
  height: 41px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 288px;
  width: 41px;
  height: 41px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 247px;
  width: 41px;
  height: 41px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 205px;
  width: 41px;
  height: 41px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 164px;
  width: 41px;
  height: 41px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 123px;
  width: 41px;
  height: 41px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 82px;
  width: 41px;
  height: 41px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 40px;
  width: 41px;
  height: 41px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -2px;
  width: 41px;
  height: 41px;
}
  
}

/* ------------------------------------------7 */

@media (min-width:415px){
.image-transition {
  width: 380px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -105px;
  right: 261.25px;
  width: 95px;
  height: 95px;
}

div.rules-nav{
  position: absolute;
  bottom: -105px;
  right: 142.5px;
  width: 95px;
  height: 95px;
}

div.strategy-nav{
  position: absolute;
  bottom: -105px;
  right: 23.75px;
  width: 95px;
  height: 95px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 189px;
  width: 47px;
  height: 47px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 142px;
  width: 47px;
  height: 47px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 237px;
  width: 47px;
  height: 47px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 94px;
  width: 47px;
  height: 47px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 285px;
  width: 47px;
  height: 47px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 47px;
  width: 47px;
  height: 47px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 332px;
  width: 47px;
  height: 47px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -1px;
  width: 47px;
  height: 47px;
}

  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 332px;
  width: 47px;
  height: 47px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 285px;
  width: 47px;
  height: 47px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 237px;
  width: 47px;
  height: 47px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 189px;
  width: 47px;
  height: 47px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 142px;
  width: 47px;
  height: 47px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 94px;
  width: 47px;
  height: 47px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 47px;
  width: 47px;
  height: 47px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -1px;
  width: 47px;
  height: 47px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 189px;
  width: 47px;
  height: 47px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 142px;
  width: 47px;
  height: 47px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 237px;
  width: 47px;
  height: 47px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 94px;
  width: 47px;
  height: 47px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 285px;
  width: 47px;
  height: 47px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 47px;
  width: 47px;
  height: 47px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 332px;
  width: 47px;
  height: 47px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -1px;
  width: 47px;
  height: 47px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 332px;
  width: 47px;
  height: 47px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 285px;
  width: 47px;
  height: 47px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 237px;
  width: 47px;
  height: 47px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 189px;
  width: 47px;
  height: 47px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 142px;
  width: 47px;
  height: 47px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 94px;
  width: 47px;
  height: 47px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 47px;
  width: 47px;
  height: 47px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -1px;
  width: 47px;
  height: 47px;
}
  
}

/* ------------------------------------------8 */

@media (min-width:465px){
.image-transition {
  width: 430px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -117.5px;
  right: 295.6255px;
  width: 107.5px;
  height: 107.5px;
}

div.rules-nav{
  position: absolute;
  bottom: -117.5px;
  right: 161.25px;
  width: 107.5px;
  height: 107.5px;
}

div.strategy-nav{
  position: absolute;
  bottom: -117.5px;
  right: 26.875px;
  width: 107.5px;
  height: 107.5px;
}

  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 214px;
  width: 53px;
  height: 53px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 161px;
  width: 53px;
  height: 53px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 268px;
  width: 53px;
  height: 53px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 106px;
  width: 53px;
  height: 53px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 322px;
  width: 53px;
  height: 53px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 53px;
  width: 53px;
  height: 53px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 376px;
  width: 53px;
  height: 53px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -2px;
  width: 53px;
  height: 53px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 376px;
  width: 53px;
  height: 53px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 322px;
  width: 53px;
  height: 53px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 268px;
  width: 53px;
  height: 53px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 214px;
  width: 53px;
  height: 53px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 161px;
  width: 53px;
  height: 53px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 106px;
  width: 53px;
  height: 53px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 53px;
  width: 53px;
  height: 53px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -2px;
  width: 53px;
  height: 53px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 214px;
  width: 53px;
  height: 53px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 161px;
  width: 53px;
  height: 53px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 268px;
  width: 53px;
  height: 53px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 106px;
  width: 53px;
  height: 53px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 322px;
  width: 53px;
  height: 53px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 53px;
  width: 53px;
  height: 53px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 376px;
  width: 53px;
  height: 53px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -2px;
  width: 53px;
  height: 53px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 376px;
  width: 53px;
  height: 53px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 322px;
  width: 53px;
  height: 53px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 268px;
  width: 53px;
  height: 53px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 214px;
  width: 53px;
  height: 53px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 161px;
  width: 53px;
  height: 53px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 106px;
  width: 53px;
  height: 53px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 53px;
  width: 53px;
  height: 53px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -2px;
  width: 53px;
  height: 53px;
}
  
}

/* ------------------------------------------9 */

@media (min-width:515px){
.image-transition {
  width: 480px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -130px;
  right: 330px;
  width: 120px;
  height: 120px;
}

div.rules-nav{
  position: absolute;
  bottom: -130px;
  right: 180px;
  width: 120px;
  height: 120px;
}

div.strategy-nav{
  position: absolute;
  bottom: -130px;
  right: 30px;
  width: 120px;
  height: 120px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 238px;
  width: 60px;
  height: 60px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 179px;
  width: 60px;
  height: 60px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 299px;
  width: 60px;
  height: 60px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 118px;
  width: 60px;
  height: 60px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 359px;
  width: 60px;
  height: 60px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 59px;
  width: 60px;
  height: 60px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 419px;
  width: 60px;
  height: 60px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -2px;
  width: 60px;
  height: 60px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 419px;
  width: 60px;
  height: 60px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 359px;
  width: 60px;
  height: 60px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 299px;
  width: 60px;
  height: 60px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 238px;
  width: 60px;
  height: 60px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 179px;
  width: 60px;
  height: 60px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 118px;
  width: 60px;
  height: 60px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 59px;
  width: 60px;
  height: 60px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -2px;
  width: 60px;
  height: 60px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 238px;
  width: 60px;
  height: 60px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 179px;
  width: 60px;
  height: 60px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 299px;
  width: 60px;
  height: 60px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 118px;
  width: 60px;
  height: 60px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 359px;
  width: 60px;
  height: 60px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 59px;
  width: 60px;
  height: 60px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 419px;
  width: 60px;
  height: 60px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -2px;
  width: 60px;
  height: 60px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 419px;
  width: 60px;
  height: 60px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 359px;
  width: 60px;
  height: 60px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 299px;
  width: 60px;
  height: 60px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 238px;
  width: 60px;
  height: 60px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 179px;
  width: 60px;
  height: 60px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 118px;
  width: 60px;
  height: 60px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 59px;
  width: 60px;
  height: 60px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -2px;
  width: 60px;
  height: 60px;
}
  
}

/* ------------------------------------------10 */

@media (min-width:560px){
.image-transition {
  width: 530px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -142.5px;
  right: 364.375px;
  width: 132.5px;
  height: 132.5px;
}

div.rules-nav{
  position: absolute;
  bottom: -142.5px;
  right: 198.75px;
  width: 132.5px;
  height: 132.5px;
}

div.strategy-nav{
  position: absolute;
  bottom: -142.5px;
  right: 33.125px;
  width: 132.5px;
  height: 132.5px;
}

  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 264px;
  width: 66px;
  height: 66px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 198px;
  width: 66px;
  height: 66px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 330px;
  width: 66px;
  height: 66px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 131px;
  width: 66px;
  height: 66px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 397px;
  width: 66px;
  height: 66px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 65px;
  width: 66px;
  height: 66px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 463px;
  width: 66px;
  height: 66px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -3px;
  width: 66px;
  height: 66px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 463px;
  width: 66px;
  height: 66px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 397px;
  width: 66px;
  height: 66px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 330px;
  width: 66px;
  height: 66px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 264px;
  width: 66px;
  height: 66px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 198px;
  width: 66px;
  height: 66px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 131px;
  width: 66px;
  height: 66px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 65px;
  width: 66px;
  height: 66px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -3px;
  width: 66px;
  height: 66px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 264px;
  width: 66px;
  height: 66px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 198px;
  width: 66px;
  height: 66px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 330px;
  width: 66px;
  height: 66px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 131px;
  width: 66px;
  height: 66px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 397px;
  width: 66px;
  height: 66px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 65px;
  width: 66px;
  height: 66px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 463px;
  width: 66px;
  height: 66px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -3px;
  width: 66px;
  height: 66px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 463px;
  width: 66px;
  height: 66px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 397px;
  width: 66px;
  height: 66px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 330px;
  width: 66px;
  height: 66px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 264px;
  width: 66px;
  height: 66px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 198px;
  width: 66px;
  height: 66px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 131px;
  width: 66px;
  height: 66px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 65px;
  width: 66px;
  height: 66px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -3px;
  width: 66px;
  height: 66px;
}
  
}

/* ------------------------------------------11 */

@media (min-width:610px){
.image-transition {
  width: 580px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -155px;
  right: 398.75px;
  width: 145px;
  height: 145px;
}

div.rules-nav{
  position: absolute;
  bottom: -155px;
  right: 217.5px;
  width: 145px;
  height: 145px;
}

div.strategy-nav{
  position: absolute;
  bottom: -155px;
  right: 36.25px;
  width: 145px;
  height: 145px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 289px;
  width: 72px;
  height: 72px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 217px;
  width: 72px;
  height: 72px;
}

  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 361px;
  width: 72px;
  height: 72px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 143px;
  width: 72px;
  height: 72px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 434px;
  width: 72px;
  height: 72px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 72px;
  width: 72px;
  height: 72px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 507px;
  width: 72px;
  height: 72px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -2px;
  width: 72px;
  height: 72px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 507px;
  width: 72px;
  height: 72px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 434px;
  width: 72px;
  height: 72px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 361px;
  width: 72px;
  height: 72px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 289px;
  width: 72px;
  height: 72px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 217px;
  width: 72px;
  height: 72px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 143px;
  width: 72px;
  height: 72px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 72px;
  width: 72px;
  height: 72px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -2px;
  width: 72px;
  height: 72px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 289px;
  width: 72px;
  height: 72px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 217px;
  width: 72px;
  height: 72px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 361px;
  width: 72px;
  height: 72px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 143px;
  width: 72px;
  height: 72px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 434px;
  width: 72px;
  height: 72px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 72px;
  width: 72px;
  height: 72px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 507px;
  width: 72px;
  height: 72px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -2px;
  width: 72px;
  height: 72px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 507px;
  width: 72px;
  height: 72px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 434px;
  width: 72px;
  height: 72px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 361px;
  width: 72px;
  height: 72px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 289px;
  width: 72px;
  height: 72px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 217px;
  width: 72px;
  height: 72px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 143px;
  width: 72px;
  height: 72px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 72px;
  width: 72px;
  height: 72px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -2px;
  width: 72px;
  height: 72px;
}
  
}

/* ------------------------------------------12 */

@media (min-width:660px){
.image-transition {
  width: 630px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  bottom: -167.5px;
  right: 433.125px;
  width: 157.5px;
  height: 157.5px;
}

div.rules-nav{
  position: absolute;
  bottom: -167.5px;
  right: 236.25px;
  width: 157.5px;
  height: 157.5px;
}

div.strategy-nav{
  position: absolute;
  bottom: -167.5px;
  right: 39.375px;
  width: 157.5px;
  height: 157.5px;
}
  
  /* Chess Piece Locations */

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 314px;
  width: 78px;
  height: 78px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 235px;
  width: 78px;
  height: 78px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 392px;
  width: 78px;
  height: 78px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 155px;
  width: 78px;
  height: 78px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 472px;
  width: 78px;
  height: 78px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 77px;
  width: 78px;
  height: 78px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 550px;
  width: 78px;
  height: 78px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -2px;
  width: 78px;
  height: 78px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 550px;
  width: 78px;
  height: 78px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 472px;
  width: 78px;
  height: 78px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 392px;
  width: 78px;
  height: 78px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 314px;
  width: 78px;
  height: 78px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 235px;
  width: 78px;
  height: 78px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 155px;
  width: 78px;
  height: 78px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 77px;
  width: 78px;
  height: 78px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -2px;
  width: 78px;
  height: 78px;
}

  /* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 314px;
  width: 78px;
  height: 78px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 235px;
  width: 78px;
  height: 78px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 392px;
  width: 78px;
  height: 78px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 155px;
  width: 78px;
  height: 78px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 472px;
  width: 78px;
  height: 78px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 77px;
  width: 78px;
  height: 78px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 550px;
  width: 78px;
  height: 78px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -2px;
  width: 78px;
  height: 78px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 550px;
  width: 78px;
  height: 78px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 472px;
  width: 78px;
  height: 78px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 392px;
  width: 78px;
  height: 78px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 314px;
  width: 78px;
  height: 78px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 235px;
  width: 78px;
  height: 78px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 155px;
  width: 78px;
  height: 78px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 77px;
  width: 78px;
  height: 78px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -2px;
  width: 78px;
  height: 78px;
}
  
}

/* ------------------------------------------13 */

@media (min-width:800px){
.image-transition {
  width: 680px;
  display: block;
  margin-left: auto;
}

div.ai-nav{
  position: absolute;
  top: 0px;
  left: -5px;
  width: 85px;
  height: 85px;
}

div.rules-nav{
  position: absolute;
  top: 90px;
  left: -5px;
  width: 85px;
  height: 85px;
}

div.strategy-nav{
  position: absolute;
  top: 180px;
  left: -12px;
  width: 85px;
  height: 85px;
}
  
  /* Chess Piece Locations*/

  /* White Queen */
div.d1Queen{
  position: absolute;
  bottom: 0%;
  right: 339px;
  width: 85px;
  height: 85px;
}
  
  /* White King */
div.e1King{
  position: absolute;
  bottom: 0%;
  right: 253px;
  width: 85px;
  height: 85px;
}
  
  /* White Bishop */
div.c1Bishop{
  position: absolute;
  bottom: 0%;
  right: 424px;
  width: 85px;
  height: 85px;
}

div.f1Bishop{
  position: absolute;
  bottom: 0%;
  right: 167px;
  width: 85px;
  height: 85px;
}
  
  /* White Knight */
div.b1Knight{
  position: absolute;
  bottom: 0%;
  right: 509px;
  width: 85px;
  height: 85px;
}
  
div.g1Knight{
  position: absolute;
  bottom: 0%;
  right: 83px;
  width: 85px;
  height: 85px;
}
  
  /* White Rook */
div.a1Rook{
  position: absolute;
  bottom: 0%;
  right: 594px;
  width: 85px;
  height: 85px;
}
  
div.h1Rook{
  position: absolute;
  bottom: 0%;
  right: -3px;
  width: 85px;
  height: 85px;
}
  
  /* White Pawn */
div.a2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 594px;
  width: 85px;
  height: 85px;
}
  
div.b2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 509px;
  width: 85px;
  height: 85px;
}
  
div.c2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 424px;
  width: 85px;
  height: 85px;
}
  
div.d2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 339px;
  width: 85px;
  height: 85px;
}
  
div.e2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 253px;
  width: 85px;
  height: 85px;
}
  
div.f2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 167px;
  width: 85px;
  height: 85px;
}
  
div.g2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: 83px;
  width: 85px;
  height: 85px;
}
  
div.h2Pawn{
  position: absolute;
  bottom: 12.5%;
  right: -3px;
  width: 85px;
  height: 85px;
}

/* Black Queen */
div.d8Queen{
  position: absolute;
  top: 0%;
  right: 339px;
  width: 85px;
  height: 85px;
}

  /* Black King */
div.e8King{
  position: absolute;
  top: 0%;
  right: 253px;
  width: 85px;
  height: 85px;
}

  /* Black Bishop */
div.c8Bishop{
  position: absolute;
  top: 0%;
  right: 424px;
  width: 85px;
  height: 85px;
}

div.f8Bishop{
  position: absolute;
  top: 0%;
  right: 167px;
  width: 85px;
  height: 85px;
}

  /* Black Knight */
div.b8Knight{
  position: absolute;
  top: 0%;
  right: 509px;
  width: 85px;
  height: 85px;
}
  
div.g8Knight{
  position: absolute;
  top: 0%;
  right: 83px;
  width: 85px;
  height: 85px;
}

  /* Black Rook */
div.a8Rook{
  position: absolute;
  top: 0%;
  right: 594px;
  width: 85px;
  height: 85px;
}
  
div.h8Rook{
  position: absolute;
  top: 0%;
  right: -3px;
  width: 85px;
  height: 85px;
}

  /* Black Pawn */
div.a7Pawn{
  position: absolute;
  top: 12.5%;
  right: 594px;
  width: 85px;
  height: 85px;
}
  
div.b7Pawn{
  position: absolute;
  top: 12.5%;
  right: 509px;
  width: 85px;
  height: 85px;
}
  
div.c7Pawn{
  position: absolute;
  top: 12.5%;
  right: 424px;
  width: 85px;
  height: 85px;
}
  
div.d7Pawn{
  position: absolute;
  top: 12.5%;
  right: 339px;
  width: 85px;
  height: 85px;
}
  
div.e7Pawn{
  position: absolute;
  top: 12.5%;
  right: 253px;
  width: 85px;
  height: 85px;
}
  
div.f7Pawn{
  position: absolute;
  top: 12.5%;
  right: 167px;
  width: 85px;
  height: 85px;
}
  
div.g7Pawn{
  position: absolute;
  top: 12.5%;
  right: 83px;
  width: 85px;
  height: 85px;
}
  
div.h7Pawn{
  position: absolute;
  top: 12.5%;
  right: -3px;
  width: 85px;
  height: 85px;
}
  
}

/* ------------------------------------------14 */

@media (min-width:975px){
div.ai-nav-text{
  position: absolute;
  top: 25%;
  right: -85px;
  visibility: visible;
}
  
div.rules-nav-text{
  position: absolute;
  top: 25%;
  right: -108px;
  visibility: visible;
}

div.strategy-nav-text{
  position: absolute;
  top: 25%;
  right: -185px;
  visibility: visible;
}
  
}
