html, body {
  height: 100%;
  width: 100%;
  background-color: #464646;
  user-select: none;
  color: #c8c6c4;
}

.home-nav{
  position: relative;
  top: 10px;
  left: 10px;
}

.strategy-nav{
  position: absolute;
  top: 10px;
  left: 105px;
}



@media (min-width: 0px){
/* Main Grid Container (Mobile) */
.grid-container {
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  grid-template-rows: 105px 50vw 50vw 50vw;
  
  grid-template-areas: 
    "nav nav nav"
    "DangerSqrImg DangerSqrInfo DangerSqrInfo"
    "CheckInfo CheckInfo CheckImg"
    "CheckmateImg CheckmateInfo CheckmateInfo"
    "StalemateInfo StalemateInfo StalemateImg"
    "RepetitionImg RepetitionInfo RepetitionInfo"
    "DeadPositionInfo DeadPositionInfo DeadPositionImg"
    "FiftyMoveRuleImg FiftyMoveRuleInfo FiftyMoveRuleInfo";
}

.title{
  font-size: 5.5vw;
}
.info{
  font-size: 3.5vw;
  width: 60vw
}
}



@media (min-width: 750px){
/* Main Grid Container (Desktop) */
.grid-container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 105px 25vw 25vw 25vw;
  
  grid-template-areas: 
    "nav nav nav nav"
    "DangerSqrImg DangerSqrInfo DangerSqrInfo DangerSqrInfo"
    "CheckInfo CheckInfo CheckInfo CheckImg"
    "CheckmateImg CheckmateInfo CheckmateInfo CheckmateInfo"
    "StalemateInfo StalemateInfo StalemateInfo StalemateImg"
    "RepetitionImg RepetitionInfo RepetitionInfo RepetitionInfo"
    "DeadPositionInfo DeadPositionInfo DeadPositionInfo DeadPositionImg"
    "FiftyMoveRuleImg FiftyMoveRuleInfo FiftyMoveRuleInfo FiftyMoveRuleInfo";
}

.title{
  font-size: 4vw;
}
.info{
  font-size: 2.5vw;
  width: 75vw;
}
}
  
/* Nav Grids */
.nav {
  grid-area: nav;
}

/* Danger Square Grids */
.DangerSqrImg {
  grid-area: DangerSqrImg;
}
.DangerSqrInfo {
  grid-area: DangerSqrInfo;
}

/* Check Grids */
.CheckInfo {
  grid-area: CheckInfo;
}
.CheckImg {
  grid-area: CheckImg;
}

/* Checkmate Grids */
.CheckmateImg {
  grid-area: CheckmateImg;
}
.CheckmateInfo {
  grid-area: CheckmateInfo;
}

/* Stalemate Grids */
.StalemateInfo {
  grid-area: StalemateInfo;
}
.StalemateImg {
  grid-area: StalemateImg;
}

/* Repetition Grids */
.RepetitionImg {
  grid-area: RepetitionImg;
}
.RepetitionInfo {
  grid-area: RepetitionInfo;
}

/* Dead Position Grids */
.DeadPositionInfo {
  grid-area: DeadPositionInfo;
}
.DeadPositionImg {
  grid-area: DeadPositionImg;
}

/* 50 Move Rule Grids */
.FiftyMoveRuleImg {
  grid-area: FiftyMoveRuleImg;
}
.FiftyMoveRuleInfo {
  grid-area: FiftyMoveRuleInfo;
}



/* Danger Square Cycle */
.DangerSqrCycle.DangerSqr-1,
.DangerSqrCycle[data-state="1"] {
  content: url("../Example.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.DangerSqrCycle.DangerSqr-2,
.DangerSqrCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.DangerSqrCycle.DangerSqr-3,
.DangerSqrCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}



/* Check Cycle */
.CheckCycle.Check-1,
.CheckCycle[data-state="1"] {
  content: url("../../piecesmove/BishopMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.CheckCycle.Check-2,
.CheckCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.CheckCycle.Check-3,
.CheckCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}



/* Checkmate Cycle */
.CheckmateCycle.Checkmate-1,
.CheckmateCycle[data-state="1"] {
  content: url("../../piecesmove/BishopMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.CheckmateCycle.Checkmate-2,
.CheckmateCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.CheckmateCycle.Checkmate-3,
.CheckmateCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}



/* Stalemate Cycle */
.StalemateCycle.Stalemate-1,
.StalemateCycle[data-state="1"] {
  content: url("../../piecesmove/BishopMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.StalemateCycle.Stalemate-2,
.StalemateCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.StalemateCycle.Stalemate-3,
.StalemateCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}



/* Repetition Cycle */
.RepetitionCycle.Repetition-1,
.RepetitionCycle[data-state="1"] {
  content: url("../../piecesmove/BishopMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.RepetitionCycle.Repetition-2,
.RepetitionCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.RepetitionCycle.Repetition-3,
.RepetitionCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}



/* Dead Position Cycle */
.DeadPositionCycle.DeadPosition-1,
.DeadPositionCycle[data-state="1"] {
  content: url("../../piecesmove/BishopMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.DeadPositionCycle.DeadPosition-2,
.DeadPositionCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.DeadPositionCycle.DeadPosition-3,
.DeadPositionCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}



/* Dead Position Cycle */
.FiftyMoveRuleCycle.FiftyMoveRule-1,
.FiftyMoveRuleCycle[data-state="1"] {
  content: url("../../piecesmove/BishopMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.FiftyMoveRuleCycle.FiftyMoveRule-2,
.FiftyMoveRuleCycle[data-state="2"] {
  content: url("../../piecesmove/KingMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}
.FiftyMoveRuleCycle.FiftyMoveRule-3,
.FiftyMoveRuleCycle[data-state="3"] {
  content: url("../../piecesmove/KnightMoves.png");
  width: 90%;
  height: width;
  margin-left: 5%;
}